#formulario-producto {
  margin-top: 40px;
}

#formulario-producto input,
#formulario-producto button {
  margin: 5px;
  padding: 10px;
  font-size: 15px;
}

#agregar-btn {
  border: none;
  cursor: pointer;
}