    * {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    }

    header {
    width: 100%;
    padding: 28px 0;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    }

    .Compras {
        font: 1.4em sans-serif;
        color:#466802 ;
        background-color:#A3B286;
    }

    